parameters:
#    g5_movie.example.class: g5\MovieBundle\Example

services:
    g5_movie.movie_manager:
        class: g5\MovieBundle\Util\MovieManager
        arguments: [@g5_tools.tmdb.api, @doctrine]

    g5_movie.label_manager:
        class: g5\MovieBundle\Util\LabelManager
        arguments: [@doctrine]

    g5_movie.link.form_type:
        class: g5\MovieBundle\Form\Type\LinkType

    g5_movie.link.form:
        class: Symfony\Component\Form\Form
        factory_method: createNamed
        factory_service: form.factory
        arguments: ["link", @g5_movie.link.form_type]

    g5_movie.link.form_handler:
        class: g5\MovieBundle\Form\Handler\LinkFormHandler
        scope: request
        arguments: [@request, @g5_movie.link.form, @g5_movie.label_manager, @g5_movie.movie_manager, @g5_tools.normalizer]
