parameters:
#    g5_movie.example.class: g5\MovieBundle\Example

services:
    g5.movie.tmdb_api:
        class: g5\MovieBundle\Tmdb
        arguments: [%tmdb_api_key%]
#    g5_movie.example:
#        class: %g5_movie.example.class%
#        arguments: [@service_id, "plain_value", %parameter%]
