parameters:
#    g5_movie.example.class: g5\MovieBundle\Example

services:
    g5_movie.movie_manager:
        class: g5\MovieBundle\Service\MovieManager
        arguments: ["@g5_tools.tmdb.api", "@doctrine"]

    g5_movie.label_manager:
        class: g5\MovieBundle\Service\LabelManager
        arguments: ["@doctrine.orm.entity_manager"]

    g5_movie.form.type.label:
        class: g5\MovieBundle\Form\Type\LabelType
        tags:
            - { name: form.type, alias: label }
