parameters:
#    g5_movie.example.class: g5\MovieBundle\Example

services:
    g5_movie.movie_manager:
        class: g5\MovieBundle\Service\MovieManager
        arguments: ["@g5_tools.tmdb.api"]

#    g5_movie.example:
#        class: %g5_movie.example.class%
#        arguments: [@service_id, "plain_value", %parameter%]
