# src/g5/MovieBundle/Resources/config/validation.yml
g5\MovieBundle\Entity\Movie:
    constraints:
        - Symfony\Bridge\Doctrine\Validator\Constraints\UniqueEntity:
            - user
            - tmdb_id

g5\MovieBundle\Entity\MovieLabel:
    constraints:
        - Symfony\Bridge\Doctrine\Validator\Constraints\UniqueEntity:
            - movie
            - label

