# src/g5/MovieBundle/Resources/config/validation.yml
g5\MovieBundle\Document\Movie:
    constraints:
        - Doctrine\Bundle\MongoDBBundle\Validator\Constraints\Unique:
            fields: [user, tmdb_id]
            repositoryMethod: findUniqueBy
            errorPath: tmdb_id
            message: "Movie already in your database."

g5\MovieBundle\Entity\MovieLabel:
    constraints:
        - Symfony\Bridge\Doctrine\Validator\Constraints\UniqueEntity:
            fields: [movie, label]
            errorPath: label
            message: "Label already assigned."
