{# /src/g5/MovieBundle/Resources/views/Search/lookup.html.twig #}
<div class="media">
    <img class="media-object" data-src="holder.js/64x64">
    <div class="media-body">
        <h4 class="media-heading">Media heading</h4>
    </div>
</div>
