#################
## nm-webapp
#################

/web/bundles/
/web/js/
/web/css/
/app/bootstrap*
/app/config/parameters.yml
/app/cache/*
/app/logs/*
/vendor/
/tmp/
/nbproject/
composer.phar
*~
*.sublime-workspace
*.sublime-project
db.sh
phpunit.xml
