language: php

php:
    - 5.3.3
    - 5.3
    - 5.4
    - 5.5

matrix:
    allow_failures:
        - php: 5.5

services: mongodb

before_script:
    - cp app/config/parameters_test.yml app/config/parameters.yml
    - composer install --prefer-source --dev install

script: phpunit -c app
