language: php

php:
    - 5.5.12

branches:
    except:
        - experimental
        - master

services:
    - mongodb

before_script:
    - phpenv config-add php_test.ini
    - cp app/config/parameters_test.yml app/config/parameters.yml
    - composer install --no-dev
    - php app/console assetic:dump
    - php app/console doctrine:mongodb:fixtures:load --append
    - php app/console doctrine:mongodb:schema:create --index --db --collection

script: phpunit -c app/
