language: php

php:
    - 5.3
    - 5.4
    - 5.5

matrix:
    allow_failures:
        - php: 5.5

services: mongodb

before_script:
    # - phpenv config-add php_test.ini
    - pecl install -f mongo-1.3.7
    - mysql -e 'create database mn_test;'
    - cp app/config/parameters_test.yml app/config/parameters.yml
    - composer install --prefer-source --dev
    - php app/console doctrine:schema:create

script: phpunit -c app
