language: php

php:
    - 5.3
    - 5.4
    - 5.5

matrix:
    allow_failures:
        - php: 5.5

services: mongodb

before_script:
    # - pecl install -f mongo-1.3.7
    - mysql -e 'create database mn_test;'
    - cp app/config/parameters_test.yml app/config/parameters.yml
    - composer install --prefer-source --dev
    - php app/console doctrine:schema:create
    - php app/console doctrine:fixtures:load --append

script: phpunit --coverage-text -c app
