{# /src/app/Resources/views/alert.html.twig #}
<div class="alert {{ alert.type }}">
    <button data-dismiss="alert" class="close" type="button">x</button>
    <strong>{{ alert.head }}</strong> {{ alert.msg }}
</div>
