<footer class="footer text-center">
    &copy <a href="https://github.com/createproblem/">createproblem @github</a><br>
    Version: 1.0<br>
    <a href="https://github.com/createproblem/mn-webapp/blob/master/CHANGELOG.md">Changelog</a>
    <p><small>All movie related content is owned by <a href="http://www.themoviedb.org/">The Movie Database</a></small></p>
</footer>
