<footer class="footer">
    &copy <a href="https://github.com/createproblem/">createproblem @github</a><br>
    Version: 1.0<br>
    <a href="https://github.com/createproblem/mn-webapp/blob/master/CHANGELOG.md">Changelog</a>
</footer>
