{# /src/g5/MovieBundle/Resources/views/Default/add.html.twig #}
<form id="movieSearchForm" class="form-search">
    <div class="input-prepend">
        <span class="add-on"><i class="icon-search"></i></span>
        <input class="span3" id="prependedInput" name="searchMovie" type="text" placeholder="Search movie">
    </div>
    <button class="btn btn-primary" onclick="sendMovieSearchForm(); return false;">Search</button>
</form>
<div id="movieSearchResult"></div>
<script type="text/javascript">
    function sendMovieSearchForm()
    {
        $("#movieSearchResult").html("Loading...");
        $.post("{{ path('_movie_add') }}", $("#movieSearchForm").serialize(), function(response) {
            $("#movieSearchResult").html("");
            $("#movieSearchResult").append(response);
        });
    }
</script>