parameters:
    database_driver:   pdo_mysql
    database_host:     localhost
    database_port:     3306
    database_name:     mn
    database_user:     ~
    database_password: ~
    database_path:     ~

    mailer_transport:  smtp
    mailer_host:       localhost
    mailer_user:       ~
    mailer_password:   ~

    locale:            en
    secret:            106d9e49e7c48d1007acf14b4163e6d93b

    tmdb_api_key:      ~
