parameters:
    database_driver:   pdo_sqlite
    database_host:     mongodb://localhost:27017
    database_port:     ~
    database_name:     mndb
    database_user:     ~
    database_password: ~
    database_path:     ~

    mailer_transport:  smtp
    mailer_host:       localhost
    mailer_user:       ~
    mailer_password:   ~

    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt

    tmdb_api_key:      ~
