{# /src/g5/MovieBundle/Resources/views/Movie/add.html.twig #}
{% extends '::base.html.twig' %}
{% block body %}
<div class="row-fluid">
    <div class="span5">
        {{ render(controller('g5MovieBundle:Search:search')) }}
    </div>
</div>
{% endblock %}
