{# /src/g5/MovieBundle/Resources/views/Movie/index.html.twig #}
{% extends '::base.html.twig' %}
{% block body %}

{% include 'g5MovieBundle:helper:movieGrid.html.twig' with { "movies": movies, "imgUrl": imgUrl } %}

<div class="row-fluid">
    {{ paginationBar(pagination) }}
</div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% javascripts '@g5MovieBundle/Resources/public/js/label.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
