{# /src/g5/MovieBundle/Resources/views/Movie/index.html.twig #}
{% extends '::base.html.twig' %}
{% block body %}
<div class="row-fluid">
    <div class="span6">
        {% for movie in movies %}
            {% include 'g5MovieBundle:Movie:movieObject.html.twig' with { "movie": movie, "imgUrl": imgUrl } %}
        {% endfor %}
    </div>
</div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% javascripts '@g5MovieBundle/Resources/public/js/label.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
