{# /src/g5/MovieBundle/Resources/views/Movie/index.html.twig #}
{% extends '::base.html.twig' %}
{% block body %}
<div class="row-fluid">
    <div class="span6">
        {% for movie in movies %}
            {{ movie.getTmdbId() }}<br>
            {% include 'g5MovieBundle:Movie:movieObject.html.twig' with { "movie": movie, "imgUrl": imgUrl } %}
        {% endfor %}
    </div>
</div>
{% endblock %}
