<div class="media">
    <img class="pull-left media-object" src="{{ imgUrl }}{{ movie.getCoverUrl() }}">
    <div class="media-body">
        <h4 class="media-heading">{{ movie.getTitle() }}</h4>
        {{ movie.getOverview() }}
    </div>
</div>
