{% extends '::base.html.twig' %}
{% block body %}
<div class="row">
    <div class="col-xs-offset-4 col-xs-8 col-md-7">
        <form role="form" id="formSearch" class="form-inline" action="" method="post">
                {{ form_widget(form.search) }}
                {{ form_rest(form) }}
            <button id="btnSearch" type="submit" class="btn btn-primary">Search</button>
        </form>
    </div>
</div>
<br>
<div class="row">
    <div class="col-xs-2"></div>
    <div class="col-xs-10" id="searchResult"></div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts '@g5MovieBundle/Resources/public/js/search.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
