{% extends '::base.html.twig' %}
{% block body %}
<div class="row">
    <div class="col-lg-5 col-lg-offset-4">
        <form role="form" id="formSearch" class="form-inline" action="" method="post">
            <div class="form-group col-lg-9">
                {{ form_widget(form.search) }}
                {{ form_rest(form) }}
            </div>
            <button id="btnSearch" type="submit" class="btn btn-primary">Search</button>
        </form>
    </div>
</div>
<br>
<div class="row">
    <div class="col-lg-6 col-lg-offset-3" id="searchResult"></div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts '@g5MovieBundle/Resources/public/js/search.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
