<div class="col-md-offset-4 col-md-3">
    <form role="form" action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST">
        {{ form_widget(form) }}
        <button class="btn btn-primary" type="submit">{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}</button>
    </form>
</div>
