g5_oauth_server_auth_login:
    pattern: /oauth/v2/auth_login
    defaults: { _controller: g5OAuthServerBundle:Security:login }

g5_oauth_server_auth_login_check:
    pattern: /oauth/v2/auth_login_check
    defaults: { _controller: g5OAuthServerBundle:Security:loginCheck }
