{# /src/g5/MovieBundle/Resources/views/Label/index.html.twig #}
{% extends '::base.html.twig' %}
{% block body %}

{% include 'g5MovieBundle:helper:movieGrid.html.twig' with { "movies": movies, "imgUrl": imgUrl } %}

<div class="row">
    <div class="col-lg-4 col-lg-offset-5">
        {{ paginationBar(pagination) }}
    </div>
</div>

{% endblock body %}
