<span class="label label-default" data-labelId="{{ label.getId() }}" data-movieId="{{ movieId }}">
    <a href="{{ path('g5_movie_label_index', { name: label.getNameNorm() }) }}">{{ label.getName() }}</a>
    <span class="label-remove glyphicon glyphicon-remove"></span>
</span>
