{% if label is defined %}
    <span data-labelname="{{ label.name }}" data-labelid="{{ label.id }}" class="label label-default">{{ label.name }}</span>
{% endif %}

{% if errors is defined %}
    {% for error in errors %}
        {{ error.message }}
    {% endfor %}
{% endif %}
