{# /src/g5/MovieBundle/Resources/views/Label/new.html.twig #}

{% extends '::base.html.twig' %}
{% block body %}
<div class="row-fluid">
    <div class="span3 offset4">
        <form id="g5movie_label_new_form">
            <div class="input-prepend">
                <span class="add-on"><i class="icon-tag"></i></span>
                {{ form_widget(form.name) }}
            </div>
        </form>
    </div>
</div>
{% endblock body %}
{% block javascripts %}
    {{ parent() }}
    {% javascripts '@g5MovieBundle/Resources/public/js/label.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
