{# /src/g5/MovieBundle/Resources/views/Label/new.html.twig #}

{% form_theme form 'g5MovieBundle:Form:link.html.twig' %}

<form role="form" onsubmit="return false">
    {{ form_widget(form) }}
</form>
