{# /src/g5/MovieBundle/Resources/views/Label/new.html.twig #}

<div class="g5_movie_label_messageBox" style="display: none;"></div>
<form role="form"class="g5movie_label_new_form form-horizontal" onsubmit="return false;">
    <div class="input-group col-xs-6 col-md-9 input-group-sm">
        {{ form_widget(form.name) }}
        {{ form_rest(form) }}
    </div>
    <div class="clearfix"></div>
</form>
<br>
