<div class="row">
    {% for movie in movies %}
        <div class="col-xs-12 col-md-6">
            {% include 'g5MovieBundle:helper:movieObject.html.twig' with { 'movie': movie } %}
        </div>
        {% if loop.index0 is odd %}
            <div class="col-xs-12"></div>
        {% endif %}
    {% endfor %}
</div>
