# src/g5/MovieBundle/Resources/config/doctrine/Label.org.yml
g5\MovieBundle\Entity\Label:
    type: entity
    table: labels
    id:
      id:
        type: integer
        generator: { strategy: AUTO }
    fields:
      name:
        type: string
        length: 25
    ManyToMany:
      movie:
        targetEntity: movie
        mappedBy: label
