# /src/g5/MovieBundle/Resources/config/doctrine/Label.orm.yml
g5\MovieBundle\Entity\Label:
    type: entity
    table: label
    repositoryClass: g5\MovieBundle\Entity\LabelRepository

    id:
        id:
            type: integer
            generator: { strategy: auto }

    fields:
        name:
            type: string

    manyToOne:
        user:
            targetEntity: g5\AccountBundle\Entity\User
            joinColumn:
                name: user_id
                referencedColumnName: id
                nullable: false
                onDelete: CASCADE

    oneToMany:
        movieLabels:
            targetEntity: g5\MovieBundle\Entity\MovieLabel
            mappedBy: label
            cascade: ["persist", "remove"]
            orphanRemoval: true
