# /src/g5/MovieBundle/Resources/config/doctrine/Movie.orm.yml
g5\MovieBundle\Entity\Movie:
    type: entity
    table: movie
    repositoryClass: g5\MovieBundle\Entity\MovieRepository

    id:
        id:
            type: integer
            generator: { strategy: auto }

    fields:
        tmdb_id:
            type: integer
        title:
            type: string
        overview:
            type: text
        poster_path:
            type: string
        backdrop_path:
            type: string
        release_date:
            type: date
        created_at:
            type: datetime
        label_count:
            type: integer

    uniqueConstraints:
        user_tmdb_idx:
            columns: ["user_id", "tmdb_id"]

    manyToOne:
        user:
            targetEntity: g5\AccountBundle\Entity\User
            inversedBy: movies
            joinColumn:
                name: user_id
                referencedColumnName: id
                nullable: false
                onDelete: CASCADE

    oneToMany:
        movieLabels:
            targetEntity: g5\MovieBundle\Entity\MovieLabel
            mappedBy: movie
            cascade: ["persist", "remove"]
            orphanRemoval: true
