g5\MovieBundle\Document\Movie:
    type: document

    fields:
        id:
            id: true

        tmdb_id:
            type: int

        title:
            type: string

        overview:
            type: string
            nullable: true

        poster_path:
            type: string
            nullable: true

        backdrop_path:
            type: string
            nullable: true

        release_date:
            type: date

        created_at:
            type: date

        label_count:
            type: int

        favorite:
            type: boolean

    referenceOne:
        user:
            targetDocument: g5\AccountBundle\Document\User
            cascade: all

    embedMany:
        labels:
            targetDocument: Label

    indexes:
        user_tmdb_idx:
            options:
                unique: true
                save: true
            keys:
                id: asc
                tmdb_id: asc

