# /src/g5/MovieBundle/Resources/config/doctrine/Movie.orm.yml
g5\MovieBundle\Entity\Movie:
    type: entity
    table: movie
    id:
        id:
            type: integer
            generator: { strategy: auto }
        # tmdb_id:
        #     type: integer
        # user_id:
        #     type: integer

    fields:
        tmdb_id:
            type: integer
        title:
            type: string
        overview:
            type: text
        cover_url:
            type: string
        release_date:
            type: date

    uniqueConstraints:
        user_tmdb_idx:
            columns: ["user_id", "tmdb_id"]

    manyToOne:
        user:
            targetEntity: g5\AccountBundle\Entity\User
            inversedBy: movies
            joinColumn:
                name: user_id
                referencedColumnName: id
                nullable: false
                onDelete: CASCADE

    manyToMany:
        labels:
            targetEntity: g5\MovieBundle\Entity\Label
            inversedBy: movies
            joinTable:
                name: movies_labels
                joinColumns:
                    movie_id:
                        referencedColumnName: id
                        onDelete: CASCADE
                inverseJoinColumns:
                    label_id:
                        referencedColumnName: id
                        onDelete: CASCADE
