# /src/g5/MovieBundle/Resources/config/doctrine/Movie.mongodb.yml
g5\MovieBundle\Document\Movie:
    type: document
    fields:
        id:
            id: true
        tmdbid:
            type: int
        title:
            type: string
        overview:
            type: string
        cover_url:
            type: string
        release_date:
            type: date
