# /src/g5/MovieBundle/Resources/config/doctrine/Movie.orm.yml
g5\MovieBundle\Entity\Movie:
    type: entity
    table: movie
    repositoryClass: g5\MovieBundle\Entity\MovieRepository

    id:
        id:
            type: integer
            generator: { strategy: auto }
        # tmdb_id:
        #     type: integer
        # user_id:
        #     type: integer

    fields:
        tmdb_id:
            type: integer
        title:
            type: string
        overview:
            type: text
        cover_url:
            type: string
        release_date:
            type: date

    uniqueConstraints:
        user_tmdb_idx:
            columns: ["user_id", "tmdb_id"]

    manyToOne:
        user:
            targetEntity: g5\AccountBundle\Entity\User
            inversedBy: movies
            joinColumn:
                name: user_id
                referencedColumnName: id
                nullable: false
                onDelete: CASCADE

    oneToMany:
        movieLabels:
            targetEntity: g5\MovieBundle\Entity\MovieLabel
            mappedBy: movie
            cascade: ["persist", "remove"]
            orphanRemoval: true
