# /src/g5/MovieBundle/Resources/config/doctrine/Movie.mongodb.yml
g5\MovieBundle\Document\Movie:
    type: document
    fields:
        id:
            id: true
        tmdbid:
            type: int
        name:
            type: string
        meta:
            type: hash
