# /src/g5/MovieBundle/Resources/config/doctrine/Movie.orm.yml
g5\MovieBundle\Entity\Movie:
    type: entity
    table: movie
    id:
        tmdb_id:
            type: integer
        user_id:
            type: integer

    fields:
        title:
            type: string
        overview:
            type: text
        cover_url:
            type: string
        release_date:
            type: date

    manyToOne:
        user:
            targetEntity: g5\AccountBundle\Entity\User
            inversedBy: movies
            joinColumn:
                name: user_id
                referencedColumnName: id
