{# src/g5/HomeBundle/Resources/views/Default/index.html.twig #}

{% extends '::base.html.twig' %}
{% block title %}Home{% endblock %}
{% block body %}
<!-- Jumbotron -->
<div class="jumbotron">
    <h1>Movie Nightmare</h1>
    <p class="lead">Admin interface for all your needs.</p>
</div>
{% endblock %}
