{# src/g5/HomeBundle/Resources/views/Default/index.html.twig #}

{% extends '::base.html.twig' %}
{% block title %}Home{% endblock %}
{% block body %}
<!-- Jumbotron -->
<div class="jumbotron">
    <h1>Movie Nightmare</h1>
    <p class="lead">Get your own private library and share it with your friends, or something like that.</p>
    <p><a class="btn btn-lg btn-success" href="{{ path('fos_user_security_login') }}" role="button">Get started today</a></p>
</div>

<div class="container">
      <!-- Example row of columns -->
    <div class="row">
        <div class="col-lg-4">
            <h2>Broadcast</h2>
            <p>
                Public beta has been started. Create your account now and start to catalogue your movies.
            </p>
        </div>
        <div class="col-lg-4">
            <h2>Features</h2>
            <p>
                <a href="http://www.themoviedb.org/">The Movie Database (TMDB)</a> API provides the movies you looking for.
                You can easely add new movies by search TMDB. Add labels to each movie you add to categorize your moviethek.
            </p>
        </div>
    <div class="col-lg-4">
        <h2>Coming Soon</h2>
        <p>The following features will be implemented soon.
            <ul>
                <li>Importer / Exporter</li>
                Import your digital library and export it.
                <li>Bookmarks</li>
                With Bookmarks you can create watchlists and other stuff.
                <li>Bloody-Pages</li>
                Create and share Bloody-Pages to show other guys your awesome moviethek.
            </ul>
        </p>
    </div>
</div>
{% endblock %}
