.footer {
    margin-top: 20px;
    padding: 30px 0;
    text-align: center;
}

#loadingInfo {
    background: #AA0000;
    border-radius: 3px;
    color: #FFF;
    padding: 8px 20px;
    position: fixed;
    bottom: 50px;
    right: 5px;
    z-index: 999;
}

.label .badge
{
    line-height: 18px;
}

.label .close
{
    line-height: 0px;
    margin: 0 0 0 3px;
}
