/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}

/* Bootstrap overrides */
.jumbotron {
  text-align: center;
  background-color: transparent;
}

.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

.margin-top-xs {
    margin-top: 50px;
}

#loadingInfo {
    background: #AA0000;
    border-radius: 3px;
    color: #FFF;
    padding: 8px 20px;
    position: fixed;
    bottom: 50px;
    right: 5px;
    z-index: 999;
}

.messageInfo {
    background: #AA0000;
    border-radius: 3px;
    color: #FFF;
    padding: 8px 20px;
    position: fixed;
    bottom: 50px;
    right: 5px;
    z-index: 999;
}

.margin-bottom-md {
    margin-bottom: 5px;
}

/* movie stuff */
.movie-img-md {
    max-height: 278px;
}

/* custom */
.footer {
    margin-top: 20px;
    padding: 30px 0;
    text-align: center;
}

.label-remove
{
    line-height: 1;
}

.label-remove:hover
{
    cursor: pointer;
}

.label
{
    line-height: 0;
    margin: 0 0 0 3px;
}

.label a
{
    color: #FFFFFF;
    text-decoration: none;
    margin-right: 3px;
}

.movie-thumbnail-sm
{
    max-height: 135px;
}

.margin-left-xs {
    margin-left: 3px;
}



.margin-bottom-sd {
    margin-bottom: 5px;
}

.btn-favorite {
    color: #FFF;
}

.btn-favorite:hover {
    color: #AA0000;
}

.btn-favorite-active {
    color: #AA0000;
}

.btn-favorite-active:hover {
    color: #FFF;
}
